
/* * { border: 1px solid white };  */

:root {
    --text-colour: aliceblue; 
    --nav-colour: #333;
  }

 /* fill the whole page  */
 html, body {
    height: 100%;
    margin: 0;
    font-family: 'exo2';
  }

  body {
      color: var(--text-colour);
      font-weight: lighter;
  }


/* --------------------------------------------- */
/* FONTS */

@font-face {
    font-family: 'exo2';
    src: url(./website_attachments/Exo2-VariableFont_wght.ttf);
}

/* --------------------------------------------- */
/* MAIN IMAGES */

#background{
    width: 100%;
    background-size:cover;
    z-index: -3;
    position: fixed;
    top: 0;
    left: 0;
}

#mainphoto{
    display: flex;
    justify-content: center;
    width: 11%;
    border-radius: 100%;
    margin: auto;
    border: 3px solid black;
    margin-top: 5%;
}


/* icon links */
.iconLinks{
    margin: auto;
    margin-top: 5%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center; 
}

#cvicon{
    width: 15%;
}

#cvicon:hover{
    width: 20%;
    transition-duration: 0.4s;
    
}

#linkedin{
    width: 20%;
    border-radius: 20px;
}

#linkedin:hover{
    width: 25%;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#github{
    width: 25%;
}


#github:hover{
    width: 30%;
    transition-duration: 0.4s;
}

#gmail{
    position: relative;
    top: 8px;
    width: 19%;
}

#gmail:hover{
    width: 24%;
    transition-duration: 0.4s;
}

/* --------------------------------------------- */
/* CONTENT */

/* adds style to nav bar */
.nav{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 14pt;
    background-color: var(--nav-colour);
    color:lightgray;
    border-radius: 10px;
    margin-left: 5%;
    padding-bottom: 2px;
    z-index: 3;
    width: 90%;
    top: 10px;
}

.nav * {
    color: var(--text-colour);
    text-decoration: none;
}

/* when you hovor over nav bar each div turns white */
div.nav a:hover {
    color: tomato;
  }


#title{

    color: var(--text-colour);
    text-align: center;
    font-size: 50pt;
    font-weight: 600;
    padding: 2%;
    margin: auto;
}

#subTitle{
    color: var(--text-colour);
    text-align: center;
    font-size: 14pt;
    font-weight: 500;
    padding-left: 10%;
    padding-right: 10%;

}



/* --------------------------------------------- */
/* SCROLL ICON */

#scrollDiv{
    margin: 150px;
}

#scroll {
    /* ensure animation works for all browsers */
    /* ease = speed up then slow down */
    -webkit-animation: scrolling 3s ease infinite;
       -moz-animation: scrolling 3s ease infinite;
       -o-animation: scrolling 3s  ease infinite;
       animation: scrolling 3s ease infinite;
    }
    
/* timeline of animation */
@keyframes scrolling {
    0% {
    transform: translate(0);
    }
    50% {
    transform: translate(0,100px);  
}
    100% {
        transform: translate(0);
    }
}


#scroll{
    position: relative;
    width: 5%;
    margin: auto;
    display: grid;
    align-content: center;
    bottom: 100px;
}


/* ------- ABOUT ME CONTENT ------ */
#aboutmeTitle{
    text-align: center;
    font-size: 35pt;
}

.aboutMeContent * {
    font-size: 14pt;
    text-align: justify;

}

.aboutMeContent{
    width: 80%;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* -- IMAGES -- */

/* --- Intro - Me and Nanook --- */
.coleNanook{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5%;
}

#coleNanookContent {
    width: 100%;
    margin: 0;
}
#coleNanookIMG {
    width: 80%;
    margin: 0;
    box-shadow: 5px 5px 3px #333;
    border-radius: 30px;
}


/* --- RWANDA1 --- */
.Rwanda1Div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#Rwanda1Content{
    width: 100%;
}

#rwanda1IMG{
    width: 75%;
    margin: auto;
    box-shadow: 5px 5px 5px #333;
    border-radius: 30px;
}


/* --- RWANDA2 --- */

.Rwanda2Div{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding-top: 5%;
}
#Rwanda2Content{
    width: 100%;
}
#rwanda2IMG{
    margin: auto;
    width: 70%;
    box-shadow: 5px 5px px #333;
    border-radius: 10px;
}


/* -- OTAGO --- */

#otagoContent1{
    padding-top: 5%;
    padding-bottom: 5%;
}

#otagoImages{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

#otagoIMG{
    width: 30%;
    box-shadow: 5px 5px 3px #333;
    border-radius: 10px;
}

#otagoGradIMG{
    width: 40%;
    box-shadow: 5px 5px 5px #333;
    border-radius: 10px;
}

#otagoContent2{
    padding-top: 5%;
}


/* --- AVIATION --- */

.flyingDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5%;
    padding-bottom: 5%;
}

#flyingContent{
    width: 100%;
}

#flyingIMG{
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 5px #333;
    border-radius: 10px;
}

.certImages {
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.certImages img {
    border: 3px solid black;
    box-shadow: 3px 3px 3px black;
    width: 20%;
    margin: 1rem;
    transition-duration: 1s;
}

.certImages img:hover{
    padding: 0;
    margin: 0;
    flex-grow:1;
    border: 5px solid tomato;
    transition-duration: 1s;
}


hr {
    width: 80%;
}

/* -------------------------------------------- */

/* MOBILE APP */

@media (max-width: 750px) {

    #background{
        width: fit-content;
        height: 100%;
    }

    #title{
        /* margin-top: 40%; */
    }

    #mainphoto{
        width: 30%;
    }

    .iconLinks{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .iconLinks * {
        padding-top: 5%;
        padding-bottom: 5%;
    }


    #scroll{
        width: 30%;
    }

    .nav {
        position: relative;
        flex-direction: column;
        z-index: 4;
        width: 75%;
        font-size: 12pt;
        top: 5px;
        margin: auto;
    }



    .nav * {
        margin-top: 5px;
        margin-bottom: 5px;
    }


    
    .coleNanook {
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        text-align: justify;
        align-items: center;
    }

    #coleNanookIMG{
        margin-bottom: 5%;
        place-content: center;
    }

    .Rwanda1Div {
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        text-align: justify;
        align-items: center;
    }

    .Rwanda1Div img:nth-of-type(2) {
        order: 1;
    }
    .Rwanda1Div p:nth-of-type(1) {
        order: 2;
    }
    
    #rwanda1IMG {
        margin-bottom: 5%;
        margin-top: 5%;
        place-content: center;
    }



    .Rwanda2Div {
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        text-align: justify;
        align-items: center;
    }
    

    #rwanda2IMG {
        margin-bottom: 5%;
    }
    
    .OtagoDiv {
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        text-align: justify;
        align-items: center;
        }

    #otagoImages * {
        display: grid;
        grid-template-columns: 2fr;
        margin: 0;
        width: 50%;
    }

   
    
    #otagoIMG {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    #otagoGradIMG {
        margin-bottom: 5%;
        margin-top: 5%;
    }


    .flyingDiv {
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        text-align: justify;
        align-items: center;
    }


    #flyingIMG {
        margin-bottom: 5%;
        margin-top: 5%;
        place-content: center;
    }


    .certImages {
        display: grid;
        grid-template-columns: 1fr;
    }

    .certImages > img {
        width: 80%;
        pointer-events: none;
        margin: auto;
        margin-bottom: 10%;

    }

  
  }

  /* Remove pointer events for certificates on tablet */
  @media (max-width: 900px) {

    #background{
        width: fit-content;
        height: 100%;
    }

    .certImages > img {
        pointer-events: none;

    }

  }
















