:root {
  --textColour: rgb(207, 238, 250);
  --nav-colour: #333;
  --shadow: 4px 4px 6px black;
  --textShadow: 1px 1px 1px black;
  --fontFamily: "Cabin", sans-serif;
}

html,
body {
  height: 100%;
  font-family: var(--fontFamily);
  color: var(--textColour);
  margin: 0;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-attachment: fixed;
}

#mainphoto {
  width: 55%;
  border-radius: 20%;
  margin: auto;
  border: 3px solid rgb(66, 66, 66);
  box-shadow: var(--shadow);
  margin-top: 10%;
  filter: brightness(95%);
}

#mainphoto {
  animation: mainImageFadeIn ease 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes mainImageFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.iconLinks {
  margin: auto;
  margin-top: 7%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.iconLinks * {
  padding: 5px;
}

#cvicon {
  width: 26%;
}

#cvicon:hover {
  transition-duration: 0.3s;
  box-shadow: var(--shadow);
  border-radius: 5px;
  border: 1.5px solid whitesmoke;
  padding: 4px;
}

#linkedin {
  width: 26%;
}

#linkedin:hover {
  border-radius: 20px;
  transition-duration: 0.4s;
  box-shadow: var(--shadow);
  border-radius: 5px;
  border: 1.5px solid whitesmoke;
  padding: 5px;
}

#github {
  width: 27%;
}

#github:hover {
  transition-duration: 0.4s;
  box-shadow: var(--shadow);
  border-radius: 5px;
  border: 1.5px solid whitesmoke;
  padding: 4px;
}

#gmail {
  position: relative;
  width: 29%;
}

#gmail:hover {
  transition-duration: 0.4s;
  box-shadow: var(--shadow);
  border-radius: 5px;
  border: 1.5px solid whitesmoke;
  padding: 4px;
}

/* CONTENT */
.nav {
  position: fixed;
  display: flex;
  justify-content: right;
  font-size: 15pt;
  background-color: var(--nav-colour);
  box-shadow: var(--shadow);
  color: lightgray;
  z-index: 3;
  width: 100%;
  top: 0;
}

.nav * {
  color: var(--textColour);
  text-decoration: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-right: 5px;
}

div.nav a:hover {
  color: tomato;
}

#home {
  color: tomato;
  text-decoration: underline;
  background-color: rgb(74, 74, 75);
  margin-right: 20px;
}

#header {
  margin-top: 10%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: auto;
  width: 80%;
  text-shadow: 2px 2px 3px black;
}

#title {
  animation: titleFadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#title {
  text-align: center;
  font-weight: 500;
  margin: auto;
}

@keyframes titleFadeIn {
  0% {
    opacity: 0;
    color: tomato;
    font-size: 12pt;
  }

  100% {
    opacity: 1;
    color: tomato;
    font-size: 80pt;
    text-shadow: 5px 5px 7px black;
  }
}

#subTitle {
  color: var(--textColour);
  text-align: center;
  font-size: 14pt;
  font-weight: 500;
  margin: auto;
}

#SEtitle {
  font-size: 30pt;
}

blink {
  -webkit-animation: 1.5s linear infinite condemned_blink_effect;
  animation: 1.5s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

#location {
  color: var(--textColour);
  text-align: center;
  font-size: 13pt;
  font-weight: 500;
  margin: auto;
}

/* SCROLL ICON */

#scrollDiv {
  margin-top: 4%;
}

#scroll {
  -webkit-animation: scrolling 3s ease infinite;
  -moz-animation: scrolling 3s ease infinite;
  -o-animation: scrolling 3s ease infinite;
  animation: scrolling 3s ease infinite;
}

@keyframes scrolling {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(0, 100px);
  }

  100% {
    transform: translate(0);
  }
}

#scroll {
  position: relative;
  width: 3%;
  margin: auto;
  display: flex;
  justify-content: center;
  bottom: 80px;
}

/* ABOUT ME BUTTON */

#buttonDiv {
  padding: 5%;
  display: flex;
  justify-content: center;
}

button {
  background-color: rgb(167, 247, 249);
  color: black;
  width: 15%;
  font-weight: 500;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.7;
}

button:hover {
  color: whitesmoke;
  background-color: #333;
  transition-duration: 0.4s;
  border: 2px solid tomato;
  box-shadow: 3px 3px 4px black;
  opacity: 1;
}

button:active {
  background-color: tomato;
  transform: translateY(4px);
}

/* ABOUT ME CONTENT */
#ABOUTME {
  display: none;
  transition: height 1s, width 1s, padding 1s, visibility 1s,
    opacity 0.5s ease-out;
}

#aboutmeTitle {
  text-align: center;
  font-size: 35pt;
  text-shadow: var(--textShadow);
}

.aboutMeContent * {
  font-size: 18pt;
  text-align: justify;
  text-shadow: var(--textShadow);
  font-weight: 400;
}

.aboutMeContent {
  width: 80%;
  padding-top: 10%;
  margin: auto;
}

/* IMAGES */
.coleNanook {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5%;
  margin: auto;
}

#coleNanookContent {
  width: 100%;
}

#coleNanookIMG {
  width: 80%;
  margin: auto;
  box-shadow: var(--shadow);
  border-radius: 30px;
}

/* RWANDA1 */
.Rwanda1Div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#Rwanda1Content {
  width: 100%;
}

#rwanda1IMG {
  width: 75%;
  margin: auto;
  box-shadow: var(--shadow);
  border-radius: 30px;
  filter: contrast(130%);
}

/* RWANDA2 */

.Rwanda2Div {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding-top: 5%;
}

#Rwanda2Content {
  width: 100%;
}

#rwanda2IMG {
  margin: auto;
  width: 70%;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

#extraPhotos {
  display: flex;
  padding: 5px;
}

#elephant {
  margin: auto;
  width: 25%;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

#kenya {
  margin: auto;
  width: 50%;
  box-shadow: var(--shadow);
  border-radius: 10px;
  filter: contrast(110%);
}

/* OTAGO */

#otagoContent1 {
  padding-top: 5%;
  padding-bottom: 5%;
}

#otagoImages {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

#otagoIMG {
  width: 30%;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

#otagoGradIMG {
  width: 40%;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

#otagoContent2 {
  padding-top: 5%;
}

/* AVIATION */

.flyingDiv,
.XeroDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5%;
  padding-bottom: 5%;
}

#flyingContent,
#xeroContent {
  width: 100%;
}

#flyingIMG {
  width: 50%;
  margin: auto;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

#xeroIMG {
  width: 25rem;
  margin: auto;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.toTop {
  width: fit-content;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

#toTopText {
  font-family: monospace;
  font-size: 12pt;
}

#arrow {
  width: 50px;
}

#arrow:hover {
  animation: arrow 1.5s ease infinite;
}

@keyframes arrow {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(0, -15px);
  }

  100% {
    transform: translate(0);
  }
}

hr {
  width: 85%;
}

/* TABLET */
@media (max-width: 1400px) {
  #background {
    width: 100%;
    height: 100%;
  }

  #mainphoto {
    width: 50%;
  }

  #aboutMeButton {
    width: 40%;
    font-size: 3vh;
  }

  #scroll {
    display: none;
  }

  .certImages > img {
    pointer-events: none;
  }

  #aws {
    pointer-events: none;
    box-shadow: none;
  }
}

/* MOBILE */

@media (max-width: 900px) {
  #background {
    width: 100%;
    height: 100%;
  }

  #home {
    margin-right: 0px;
  }

  #mainphoto {
    box-shadow: var(--shadow);
    width: 40%;
    margin-bottom: 15px;
  }

  #ABOUTME img {
    box-shadow: var(--shadow);
  }

  #header {
    grid-template-columns: 1fr;
  }

  #location {
    margin-top: 15px;
    font-size: 12pt;
  }

  #subTitle {
    margin-top: 5%;
    font-size: 13pt;
    text-align: center;
  }

  #title {
    text-shadow: 5px 5px 7px black;
    text-align: center;
    font-size: 60pt;
  }

  @keyframes titleFadeIn {
    0% {
      opacity: 0;
      color: tomato;
      font-size: 9pt;
    }

    100% {
      opacity: 1;
      color: whitesmoke;
      font-size: 50pt;
      text-shadow: 5px 5px 7px black;
    }
  }

  .iconLinks {
    display: flex;
    flex-direction: column;
    padding-left: 19%;
    padding-top: 15%;
  }

  .iconLinks * {
    padding-top: 10%;
    padding-bottom: 5%;
    width: 60%;
    text-align: center;
    justify-content: center;
  }

  #cvicon {
    width: 33%;
  }

  #cvicon:hover {
    padding: 10px;
  }

  #gmail {
    width: 33%;
    left: 1px;
  }

  #gmail:hover {
    padding: 10px;
  }

  #github {
    width: 35%;
  }

  #github:hover {
    padding: 10px;
  }

  #linkedin {
    width: 33%;
  }

  #linkedin:hover {
    padding: 10px;
  }

  #scroll {
    display: none;
    width: 5%;
  }

  .nav {
    position: relative;
    flex-direction: column;
    z-index: 4;
    width: 60%;
    font-size: 20pt;
    top: 5px;
    margin: auto;
    border-radius: 10px;
  }

  .nav * {
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
    margin-right: 0px;
  }

  #aboutMeButton {
    background-color: #333;
    border: 2px solid tomato;
    box-shadow: var(--shadow);
    color: whitesmoke;
    width: 70%;
    font-size: 15pt;
    padding: 10px;
    opacity: 1;
  }

  .aboutMeContent * {
    font-size: 18pt;
    font-weight: 400;
  }

  .aboutMeContent {
    width: 70%;
  }

  .coleNanook {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  #coleNanookIMG {
    margin-bottom: 5%;
    margin-left: 50px;
  }

  .Rwanda1Div {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  .Rwanda1Div img:nth-of-type(2) {
    order: 1;
  }

  .Rwanda1Div p:nth-of-type(1) {
    order: 2;
  }

  #rwanda1IMG {
    margin-bottom: 5%;
    margin-top: 5%;
    place-content: center;
  }

  #extraPhotos {
    flex-direction: column;
    margin: auto;
    width: 100%;
  }

  #kenya {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  #elephant {
    width: 50%;
    margin-top: 40px;
  }

  .Rwanda2Div {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  #rwanda2IMG {
    margin-bottom: 5%;
  }

  .OtagoDiv {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  #otagoImages {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  #otagoIMG {
    width: 60%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 65px;
  }

  #otagoGradIMG {
    width: 70%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 45px;
  }

  .flyingDiv {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  #flyingIMG {
    margin-bottom: 5%;
    margin-top: 5%;
    place-content: center;
  }

  .XeroDiv {
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  #xeroIMG {
    margin-bottom: 5%;
    margin-top: 5%;
    place-content: center;
  }

  .certImages {
    display: grid;
    grid-template-columns: 1fr;
  }

  .certImages > img {
    width: 80%;
    pointer-events: none;
    margin: auto;
    margin-bottom: 10%;
  }

  #aws {
    pointer-events: none;
    box-shadow: none;
  }

  .toTop {
    bottom: 20px;
    right: 1px;
    text-align: center;
    margin: auto;
  }
}
