
/* * { border: 1px solid white };  */

:root {
    --text-colour: aliceblue; 
    --nav-colour: #333;
    --shadow: 4px 4px 6px black;
    --textShadow: 2px 2px 3px black;
  }

 /* fill the whole page  */
 html, body {
    height: 100%;
    margin: 0;
    font-family: 'exo2';
  }

  body {
      color: var(--text-colour);
      font-weight: lighter;
  }


/* --------------------------------------------- */
/* FONTS */

@font-face {
    font-family: 'exo2';
    src: url(./website_attachments/Exo2-VariableFont_wght.ttf);
}

/* --------------------------------------------- */
/* MAIN IMAGES */

#background{
    width: 100%;
    background-size:cover;
    z-index: -3;
    position: fixed;
    top: 0;
    left: 0;
}


#mainphoto{
    width: 15vw;
    border-radius: 20%;
    margin: auto;
    border: 3px solid rgb(66, 66, 66);
    box-shadow: var(--shadow);
    margin-top: 10%;
    filter:brightness(95%);
}



/* Main photo fadein animation */
#mainphoto {
    animation: mainImageFadeIn ease 4s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode:both;

}
@keyframes mainImageFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* icon links */
.iconLinks{
    margin: auto;
    margin-top: 7%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center; 
}

.iconLinks * {
    padding: 4px;
}


#cvicon{
    width: 29%;
}

#cvicon:hover{
    /* width: 27%; */
    transition-duration: 0.3s;
    border: 3px outset tomato;
    box-shadow: var(--shadow);
    /* padding: 5px; */
    border-radius: 5px;
}

#linkedin{
    width: 37%;
}

#linkedin:hover{
    /* width: 33%; */
    border-radius: 20px;
    transition-duration: 0.4s;
    border: 3px outset tomato;
    box-shadow: var(--shadow);
    /* padding: 5px; */
    border-radius: 5px;
}

#github{
    width: 45%;
}


#github:hover{
    transition-duration: 0.4s;
    border: 3px outset tomato;
    box-shadow: var(--shadow);
    border-radius: 5px;
    
}

#gmail{
    position: relative;
    top: 4px;
    width: 33%;
    padding: 10px;
   
}

#gmail:hover{
    transition-duration: 0.4s;
    border: 3px outset tomato;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

/* --------------------------------------------- */
/* CONTENT */

/* adds style to nav bar */
.nav{
    position: fixed;
    display: flex;
    justify-content:space-evenly;
    font-size: 18pt;
    background-color: var(--nav-colour);
    box-shadow: var(--shadow);
    color:lightgray;
    border-radius: 10px;
    margin-left: 5%;
    padding-bottom: 2px;
    z-index: 3;
    width: 90%;
    top: 10px;
}

.nav * {
    color: var(--text-colour);
    text-decoration: none;
    
}

/* when you hovor over nav bar each div turns white */
div.nav a:hover {
    color: tomato;
  }

#header {
    margin-top: 10%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: auto;
    width: 80%;
    text-shadow: 2px 2px 3px black;
}


#title{
    color: var(--text-colour);
    text-align: center;
    font-weight: 500;
    margin: auto;
}

/* Title fadein animation */
#title {
    animation: titleFadeIn ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode:both;

}
@keyframes titleFadeIn {
    0% {
        opacity: 0;
        color: tomato;
        font-size: 4vw;
    }
    100% {
        opacity: 1;
        color: whitesmoke;
        font-size: 9vw;
        text-shadow: 5px 5px 7px black;
    }
}


#subTitle{
    color: var(--text-colour);
    text-align: center;
    font-size: 14pt;
    font-weight: 500;
    margin: auto;
}

#location {

    color: var(--text-colour);
    text-align: center;
    font-size: 13pt;
    font-weight: 500;
    margin: auto;

}



/* --------------------------------------------- */
/* SCROLL ICON */

#scrollDiv{
    margin-top: 8%;
}

#scroll {
    /* ensure animation works for all browsers */
    /* ease = speed up then slow down */
    -webkit-animation: scrolling 3s ease infinite;
       -moz-animation: scrolling 3s ease infinite;
       -o-animation: scrolling 3s  ease infinite;
       animation: scrolling 3s ease infinite;
    }
    
/* timeline of animation */
@keyframes scrolling {
    0% {
    transform: translate(0);
    }
    50% {
    transform: translate(0,100px);  
}
    100% {
        transform: translate(0);
    }
}


#scroll{
    position: relative;
    width: 3%;
    margin: auto;
    display: flex;
    justify-content: center;
    bottom: 80px;

}


/* ------- ABOUT ME BUTTON ------ */

#buttonDiv {
    padding: 5%;
    display: flex;
    justify-content: center;
}

#aboutMeButton{
    background-color: rgb(201, 195, 195);
    color: black;
    width: 25%;
    font-weight: 500;
    font-family: 'exo2';
    font-size: 2.5vh;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px; 
    opacity: 0.7;
}

#aboutMeButton:hover{
    color: whitesmoke;
    background-color: #333;
    transition-duration: 0.4s;
    border: 2px solid tomato;
    box-shadow: 3px 3px 4px black;
    opacity: 1;
}


#aboutMeButton:active {
    background-color: tomato;
    transform: translateY(4px);
  }


/* ------- ABOUT ME CONTENT ------ */
#ABOUTME{
    display: none;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}

#aboutmeTitle{
    text-align: center;
    font-size: 35pt;
    text-shadow: var(--textShadow);
}

.aboutMeContent * {
    font-size: 20pt;
    text-align: justify;
    text-shadow: var(--textShadow);
    font-weight: 400;
}

.aboutMeContent{
    width: 80%;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* -- IMAGES -- */

/* --- Intro - Me and Nanook --- */
.coleNanook{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5%;
    margin: auto;
}

#coleNanookContent {
    width: 100%;
}
#coleNanookIMG {
    width: 80%;
    margin: auto;
    box-shadow: var(--shadow);
    border-radius: 30px;
}

/* --- RWANDA1 --- */
.Rwanda1Div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#Rwanda1Content{
    width: 100%;
}

#rwanda1IMG{
    width: 75%;
    margin: auto;
    box-shadow: var(--shadow);
    border-radius: 30px;
    filter: contrast(130%);
}


/* --- RWANDA2 --- */

.Rwanda2Div{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding-top: 5%;
}
#Rwanda2Content{
    width: 100%;
}
#rwanda2IMG{
    margin: auto;
    width: 70%;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

#extraPhotos{
    display: flex;
    padding: 5px;
}

#elephant {
    margin: auto;
    width: 25%;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

#kenya {
    margin: auto;
    width: 50%;
    box-shadow: var(--shadow);
    border-radius: 10px;
    filter: contrast(110%);
}


/* -- OTAGO --- */

#otagoContent1{
    padding-top: 5%;
    padding-bottom: 5%;
}

#otagoImages{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

#otagoIMG{
    width: 30%;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

#otagoGradIMG{
    width: 40%;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

#otagoContent2{
    padding-top: 5%;
}


/* --- AVIATION --- */

.flyingDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5%;
    padding-bottom: 5%;
}

#flyingContent{
    width: 100%;
}

#flyingIMG{
    width: 50%;
    margin: auto;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.certImages {
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.certImages img {
    border: 3px solid black;
    box-shadow: var(--shadow);
    width: 20%;
    margin: 1rem;
    transition-duration: 1s;
}

.certImages img:hover{
    padding: 0;
    margin: 0;
    flex-grow:0.75;
    border: 5px solid tomato;
    transition-duration: 1s;
}


hr {
    width: 85%;
}

/* -------------------------------------------- */

/* TABLET */
 /* Remove pointer events for certificates on tablet */
 @media (max-width: 1300px) {

    #background{
        width: 100%;
        height: 100%;
    }

    #mainphoto{
        width: 50%;
    }

  
    #aboutMeButton{
        width: 40%;
        font-size: 3vh;
    }

    #scroll {
        display: none;
    }

    .certImages > img {
        pointer-events: none;

    }

  }

/* MOBILE APP */

@media (max-width: 750px) {


    #background{
        width: 100%;
        height: 100%;
    }
   
   #mainphoto {
    box-shadow: var(--shadow);
    width: 25vw;
    }

    #ABOUTME img {
        box-shadow: var(--shadow);
    }
  

    #header {
        grid-template-columns: 1fr;
    }

    #header p {
        padding-top: 5%;
        font-size: 14pt;
        text-align: center;
    }

    #title {
        text-shadow: 5px 5px 7px black;
        text-align: center;
    }


    .iconLinks{
        display: flex;
        flex-direction: column;
        padding-left: 17%;    
        padding-top: 3%;  
    }

    .iconLinks * {
        padding-top: 4%;
        padding-bottom: 5%;
        width: 60%;
        text-align: center;
        justify-content: center;
    }


    #scroll{
        display: none;
        width: 5%;
    }

    .nav {
        position: relative;
        flex-direction: column;
        z-index: 4;
        width: 75%;
        font-size: 16pt;
        top: 5px;
        margin: auto;
    }

    .nav * {
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
    }

    #aboutMeButton{
        background-color: #333;
        border: 2px solid tomato;
        box-shadow: var(--shadow);
        color: whitesmoke;
        width: 70%;
        font-size: 15pt;
        padding: 10px; 
        opacity: 1;
    }


    
    .coleNanook {
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        text-align: justify;
        align-items: center;
    }

    #coleNanookIMG{
        margin-bottom: 5%;
        margin-left: 50px;
    }

    .Rwanda1Div {
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        text-align: justify;
        align-items: center;
    }

    .Rwanda1Div img:nth-of-type(2) {
        order: 1;
    }
    .Rwanda1Div p:nth-of-type(1) {
        order: 2;
    }
    
    #rwanda1IMG {
        margin-bottom: 5%;
        margin-top: 5%;
        place-content: center;
    }

    #extraPhotos{
        flex-direction: column;
        margin: auto;
        width: 100%;

    }

    #kenya {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    #elephant {
        width: 50%;
        margin-top: 40px;
    }



    .Rwanda2Div {
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        text-align: justify;
        align-items: center;
    }
    

    #rwanda2IMG {
        margin-bottom: 5%;
    }
    
    .OtagoDiv {
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        text-align: justify;
        align-items: center;
        }

    #otagoImages {
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    
    #otagoIMG {
        width: 60%;
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 90px;
    }

    #otagoGradIMG {
        width: 70%;
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 65px;
    }


    .flyingDiv {
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        text-align: justify;
        align-items: center;
    }


    #flyingIMG {
        margin-bottom: 5%;
        margin-top: 5%;
        place-content: center;
    }


    .certImages {
        display: grid;
        grid-template-columns: 1fr;
    }

    .certImages > img {
        width: 80%;
        pointer-events: none;
        margin: auto;
        margin-bottom: 10%;

    }

  
  }

 
