/* * { border: 1px solid white };  */

:root {
  --text-colour: aliceblue;
  --nav-colour: #333;
  --shadow: 4px 4px 6px black;
}

/* fill the whole page  */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-attachment: fixed;
  color: var(--text-colour);
  font-weight: lighter;
}

/* CONTENT */

.nav {
  position: fixed;
  display: flex;
  justify-content: right;
  font-size: 16pt;
  background-color: var(--nav-colour);
  box-shadow: var(--shadow);
  color: lightgray;
  z-index: 3;
  width: 100%;
  top: 0;
}

.nav * {
  color: var(--text-colour);
  text-decoration: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-right: 5px;
}

#home {
  margin-right: 20px;
}

div.nav a:hover {
  color: tomato;
}

#projects {
  color: tomato;
  text-decoration: underline;
  background-color: rgb(74, 74, 75);
}

h2 {
  text-align: center;
  padding-top: 200px;
}

#gitHubLink {
  color: tomato;
  text-decoration: none;
}

#gitHubLink:hover {
  color: springgreen;
  text-decoration: underline;
}

@media (max-width: 1400px) {
  #background {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .nav {
    position: relative;
    flex-direction: column;
    margin: auto;
    flex-direction: column;
    z-index: 4;
    width: 60%;
    font-size: 20pt;
    border-radius: 10px;
    top: 5px;
  }

  .nav * {
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
    margin-right: 0;
  }

  #home {
    margin-right: 0px;
  }
}
