
/* * { border: 1px solid white };  */

:root {
    --text-colour: aliceblue; 
  }

 /* fill the whole page  */
 html, body {
    height: 100%;
    margin: 0;
  }

  body {
      color: var(--text-colour);
  }


/* --------------------------------------------- */
/* FONTS */

@font-face {
    font-family: 'exo2';
    src: url(./website_attachments/Exo2-VariableFont_wght.ttf);
}

/* --------------------------------------------- */
/* MOBILE APP */

@media screen and (max-width: 900px) {

    #mainphoto{
        width: 100%;
    }

    .nav {
        width: 90%;
        font-size: 10pt;
        position: sticky;
        top: 5px;
    }


    .ABOUTME {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    text-align: justify;

    }

    .aboutMeContent #coleNanook, #rwanda1IMG, #rwanda2IMG, #otagoIMG, #otagoGrad, #flying{
        max-width: 100%;
        height: auto;
        margin: auto;
    }
  
  }


@media screen and (min-width: 1024px) {

    /* Tablet screen */
    
}

/* --------------------------------------------- */
/* MAIN IMAGES */

#background{
    width: 100%;
    height: 100%;
    background-size:cover;
    z-index: -3;
    position: fixed;
    top: 0;
    left: 0;
}

#mainphoto{
    display: grid;
    align-content: center;
    width: 9%;
    border-radius: 100%;
    margin: auto;
    border: 3px solid black;
}


/* icon links */
.iconLinks{
    margin: auto;
    margin-top: 3%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 2%;
    text-align: center;
    align-content: center;
}


#cvicon{
    width: 15%;
}

#cvicon:hover{
    width: 20%;
    transition-duration: 0.4s;
}


#linkedin{
    width: 18%;
    border-radius: 20px;
}

#linkedin:hover{
    width: 23%;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#github{
    width: 20%;
}


#github:hover{
    width: 26%;
    transition-duration: 0.4s;
}

#gmail{
    top: 15px;
    width: 13%;
}

#gmail:hover{
    width: 21%;
    transition-duration: 0.4s;
}

/* --------------------------------------------- */
/* CONTENT */

/* NAV BAR */
#menu {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menu a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}


#menu a:hover
{
  color: tomato;
}

#menu input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menu span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu span:first-child
{
  transform-origin: 0% 0%;
}

#menu span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
 #menu input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }


 /*
 * But let's hide the middle one.
 */
#menu input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menu input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}








/* HEADER */

/* adds style to nav bar
.nav{
    position:sticky;
    display: none;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    text-align: center;
    font-size: 15pt;
    background-color: #333;
    color:lightgray;
    border-radius: 10px;
    margin: auto;
    z-index: 3;
    width: 90%;
    top: 10px;
}

.nav * {
    color: var(--text-colour);
    
 
} */

/* when you hovor over nav bar each div turns white */
div.nav a:hover {
    background-color:#666;
  }


#title{
    color: var(--text-colour);
    text-align: center;
    font-size: 70pt;
    font-weight: 500;
    padding: 1%;
    margin: auto;
}

#subTitle{
    color: var(--text-colour);
    text-align: center;
    font-size: 20pt;
    font-weight: 500;
    padding-left: 10%;
    padding-right: 10%;

}



/* --------------------------------------------- */
/* SCROLL ICON */

#scrollDiv{
    margin: 200px;
}

#scroll {
    /* ensure animation works for all browsers */
    /* ease = speed up then slow down */
    -webkit-animation: scrolling 3s ease infinite;
       -moz-animation: scrolling 3s ease infinite;
       -o-animation: scrolling 3s  ease infinite;
       animation: scrolling 3s ease infinite;
    }
    
    /* timeline of animation */
    @keyframes scrolling {
      0% {
        transform: translate(0);
      }
      50% {
        transform: translate(0,50px);  
    }
      100% {
         transform: translate(0);
      }
    }


#scroll{
    position: relative;
    width: 5%;
    margin: auto;
    display: grid;
    align-content: center;
    bottom: 100px;
}


/* ABOUT ME CONTENT */
.aboutMeContent {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    padding-left: 8%;
    padding-right: 15%; 
    margin: auto;
    font-size: 20pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

.aboutme * {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

#aboutmeTitle{
    text-align: center;
    font-size: 35pt;
}

/* About Me images */

#rwanda1IMG{
    width: 40%;
    left: 175px;
    box-shadow: 5px 5px 5px #333;
    border-radius: 30px;
    margin: 50px;
}

#rwanda2IMG{
    width: 250px;
    position: relative;
    left: 175px;
    box-shadow: 5px 5px 5px #333;
    border-radius: 10px;
    margin: 50px;
}

#coleNanook{
    font-size: 10pt;
}



#coleNanookIMG {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    font-size: 10pt;
    text-align: right;
}

#otago{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#otagoIMG{
    width: 60%;
    box-shadow: 5px 5px 5px #333;
    border-radius: 10px;
}

#otagoGradIMG{
    width: 80%;
    box-shadow: 5px 5px 5px #333;
    border-radius: 10px;
}

#flyingIMG{
    display: grid;
    margin: auto;
    width: 35%;
    box-shadow: 5px 5px 5px #333;
    border-radius: 10px;

}







